<!-- 
<nav>
    <a routerLink = "/home" >Home</a> <br>
    <a routerLink = "/about" >About</a><br>
    <a routerLink = "/login" >Login</a>
  </nav> -->

  
<nav>
    <a href = "/home" (click)= "goHome()" >Home</a> &nbsp;
    <a href = "/about" (click)= "goAbout()" >About</a> &nbsp;
    <a href = "/login" (click)= "goLogin()" >Login</a> &nbsp;
    <a routerLink = "/register" > Register </a> &nbsp;
    <a routerLink = "/rectangle" > Rectangle </a>

    <!--<a href ='/rectangle' (click)= "goRectangle()" > Recatangle </a>-->
   

  </nav>