<!-- The content below is only a placeholder and can be replaced.
<html>

<body>
<h2> Welcome to Angular </h2>

<h3>
    {{ Name }}<br>

    <input type="" (mousedown) = "f4()" ><br>

    <input type="button" (click) = "f3()" /><br>

    Employee Details - json format<br>
    {{emp | json}}<br>
    </h3>
    <h4>
        {{ today | date:'medium' }} <br>
      {{ a - b }}
      {{ a*b}}
      Resukly : {{ add() }}<br>
    
      Result Fact : {{ factorial(4)}}<br>

      <div *ngFor = "let person of x; let i = index" >
      {{i + 1}} => {{person.Name }} &nbsp; &nbsp; &nbsp; {{ person.City }} 
    </div>
      </h4>
      <h3> {{ Name | uppercase }}</h3>
      <h3> {{ Name | lowercase }}</h3>
      <h3> {{ inr | currency }}</h3>

      <div *ngFor = "let array of arr">
        {{array}} </div>

        <div *ngFor = "let result of x" >
        {{result.City  }}  and {{result.Age  }}  
      </div> 

    </body>
    </html>
      
    
     -->


    <toDoList>
      
    </toDoList>