
<app-rectangle>

</app-rectangle>

<app-conversion>
  
</app-conversion>

{{ name | reverse }}<br>
{{ "logitech" | reverse}}<br>
{{ "The Portuguese is ready to leave Real Madrid and 
the Spanish club are apparently willing to do a deal for 
€100m (£88m/$118m), with Ronaldo keen to join Juve and begin a new adventure." | summary : 0 : 55}}

<!-- <h2>NgIF</h2>
<ul *ngFor = "let student of students" >
<li *ngIf="student.age > 45" >
    {{ student.name }} 
</li>
</ul>
<ul> -->
    <!-- *ngFor = "let student of students"
    [ngSwitch]="student.country" >
    <li *ngSwitchCase ="'UK'" >
        {{student.name}}   ({{ "United Kingdom | titlecase"}})
    </li>
    <li *ngSwitchCase ="'USA'" >
            {{student.name}}   ({{ "united states of america | titlecase"}})
            </li>
           
    <li *ngSwitchDefault>
        {{student.name}}  && {{student.country}}
    </li>        
</ul> -->

